html, body{
    height:100%;
}

#root{
    height:100%;
}

#wrap{
    position: relative;
    min-height: 100%;
    padding-left:200px;
}

#head{
    position: fixed;
    top:0;
    left:0;
    bottom:0;
    width:200px;
    background-color: #111;
    h1{
        color:#fff;
        text-align: center;
    }
}

.list-menu{
    margin-top:50px;
    .link-menu{
        display:block;
        padding:10px 20px;
        color:#fff;
        border-bottom: 1px solid #333;
        font-weight: bold;
        &:hover{
            background-color: #ccc;
            color: #333;
        }
    }
}

#content{
    padding:20px;
}

#foot{
    position: absolute;
    right:0;
    bottom:0;
    left:200px;
    padding: 10px;
    background-color: #efefef;
}
